<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Batches</title>
</head>
<body>
            <h1>Batches</h1>
            <table border="1" cellspacing="5">
                <thead>
                    <tr>
                        <th>Batch</th>
                        <th>Cousre</th>
                        <th>Center</th>
                        <th>Season</th>
                        <th>Year</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each batches as |b|}}
                        <tr>
                            <td>{{b.code}}</td>
                           <!--
                           without includes 
                           <td>{{b.courseId}}</td>
                            <td>{{b.centerId}}</td>
                            <td>{{b.seasonId}}</td>
                            -->
                            <!--With includes -->
                            <td>{{b.course.name}}</td>
                            <td>{{b.center.name}}</td>
                            <td>{{b.season.name}}</td>
                            <td>{{b.year}}</td>
                            <td>{{b.start}}
                                <br>
                                {{b.end}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
</body>
</html>