<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch code</title>
</head>
<body>
    <h1> Generate Batch code </h1>

    <form action="/batchcode" method="POST">
        <b>Course :</b>

        <select name ="course">
            {{#each courses as |co|}}
                <option value={{co.id}}>{{co.name}}</option>                
            {{/each}}

        </select>
        <br>
        <br>
        
        <b>Season : </b>
        <select name = "season">
            {{#each seasons as |s|}}
                <option value={{s.id}}>{{s.name}}</option>                
            {{/each}}

        </select>
        
        <br>
        <br>
        
        <b>Center</b>
        <select name = "center">
            {{#each centers as |c|}}
                <option value={{c.id}}>{{c.name}}</option>                
            {{/each}}

        </select>
        
        <br>
        

        <br>
        
        
        <b>Year : </b>
        <select name = "year">
            {{#each years as |y|}}
                <option value={{y}}>{{y}}</option>                
            {{/each}}

        </select>
        <br>
        <br>
        <b>Batch Code: </b>
        <input type="number" min="1" max="5" name ="batchno"/>
        <br>
        
        <br>
        <br>
        <b>Start</b>
        <input type="date"  name ="start">

        <br>
        <br>
        <b>End </b>
        <input type="date" name ="end" />
        <br>
        
        <br>
        <br>
        <input type="reset">
        <input type="submit">

    </form>

</body>
</html>